
Registro_Escuela/\.vs/Registro_Escuela/v15/\.suo

Registro_Escuela/\.vs/Registro_Escuela/v15/Server/sqlite3/storage\.ide

Registro_Escuela/\.vs/Registro_Escuela/v15/Server/sqlite3/storage\.ide-shm

Registro_Escuela/\.vs/Registro_Escuela/v15/Server/sqlite3/storage\.ide-wal

Registro_Escuela/Registro_Escuela/bin/Debug/Registro_Escuela\.exe

Registro_Escuela/Registro_Escuela/bin/Debug/Registro_Escuela\.pdb

Registro_Escuela/Registro_Escuela/obj/Debug/Registro_Escuela\.exe

Registro_Escuela/Registro_Escuela/obj/Debug/Registro_Escuela\.pdb
